{% extends "shared/layout.tmpl" %}

{% block title %}............. {% endblock %}

{% block content %}
  <h3>------------------</h3>






    <h1>Produkt</h1>{{hod1 }}
    <h1>Kusu:</h1>{{hod2 }}
    <h1>Cena:</h1>{{hod3 }}
    <h1>DPH:</h1>{{hod4 }}

    <h1>Celkova cena</h1>{{suma }}
{% endblock %}
